<style type="text/css">
img.frame {
  border-image: url('../assets/frame2.png') 93 92 87 92 stretch stretch; 
  border-color: #f4be52;
  border-style: inset;
  border-width: 30px;
  display: block;
  width: 100%;
  height: auto;
  background-color: #ffe; 
}
.all {
 font-size: 10px;
 text-align: center;
}
</style>
<div class="container">
  <div class="row">
    <!-- Bio modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/8Y4TPWD2ESA2" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Data Science Specialization</font></h3>
                        <img src="../assets/certificates/data-science-specialization.png" alt="" class="frame"/>

            </div>
        </div>
        <div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/2749R8PY5VAB" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Machine Learning</font></h3>
                        <img src="../assets/certificates/machine-learning.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://courses.edx.org/certificates/7c1e6434f58b47b68de51aab352716d4" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Programming in R for Data Science</font></h3>
                        <img src="../assets/certificates/microsoft-certified-r-programming-certificate.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/certificate/YQ5R82RNJKLG" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Data Science Capstone</font></h3>
                        <img src="../assets/certificates/data-science-capstone.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/4PN49W4UTV6D" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Developing Data Products</font></h3>
                        <img src="../assets/certificates/developing-data-products.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/2SNWDRC8H7U4" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Practical Machine Learning</font></h3>
                        <img src="../assets/certificates/practical-machine-learning.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/8HZU4KNT3RJS" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Regression Models</font></h3>
                        <img src="../assets/certificates/regression-models.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/3JJTM9MSTXST" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Exploratory Data Analysis</font></h3>
                        <img src="../assets/certificates/exploratory-data-analysis.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg9" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/CZKKVDUD6WDA" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Getting and Cleaning Data</font></h3>
                        <img src="../assets/certificates/getting-and-cleaning-data.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg10" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/specialization/PHMS9FT7YKKS" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Mastering Software Development in R</font></h3>
                        <img src="../assets/certificates/mastering-software-development-in-r.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg11" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/2URDR6DQ8B6S" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Mastering Software Development in R Capstone</font></h3>
                        <img src="../assets/certificates/mastering-software-development-in-r-capstone.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg12" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/LSA9G2JZ6RSQ" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Building R Packages</font></h3>
                        <img src="../assets/certificates/building-r-packages.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg13" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/K2DCJ8XHN4XW" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Advanced R Programming</font></h3>
                        <img src="../assets/certificates/advanced-r-programming.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg14" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/CU5WPAEKZ8Y8" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Building Data Visualization Tools</font></h3>
                        <img src="../assets/certificates/building-data-visualization-tools.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg15" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/VT4DM69GA72V" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">The R Programming Environment</font></h3>
                        <img src="../assets/certificates/the-r-programming-environment.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg16" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/specialization/UYAC7BZZEHQV" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Data Analysis and Presentation Skills: The PwC Approach</font></h3>
                        <img src="../assets/certificates/data-analysis-and-presentation-skills-the-pwc-approach.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg17" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/verify/C8XJ2DX6HZFE" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">PwC Capstone Project</font></h3>
                        <img src="../assets/certificates/data-analysis-and-presentation-skills-the-pwc--approach-final-project.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg18" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/6QSGEZLYR5P4" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Data Visualization with Advanced Excel</font></h3>
                        <img src="../assets/certificates/data-visualization-with-advanced-excel.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg19" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/GFT92H5SGL7F" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Problem Solving with Excel</font></h3>
                        <img src="../assets/certificates/problem-solving-with-excel.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg20" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/5NRBKHFDQ4ZU" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Data-driven Decision Making</font></h3>
                        <img src="../assets/certificates/decision-driven-decision-making.png" alt="" class="frame"/>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg21" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <a href="https://www.coursera.org/account/accomplishments/records/9D9RWGTWRSDX" target="_blank" style="float: right;"><font color="White">Verify Certificate</font></a>
              <h3><font color="White">Effective Business Presentation with Powerpoint</font></h3>
                        <img src="../assets/certificates/effective-business-presentation-with-powerpoint.png" alt="" class="frame"/>
            </div>
        </div>

                <!-- END Bio Modal-->
  </div>
</div>





<section id="portfolio-container" class="padding-60">
         <div class="container">
             <div class="row">
             <div class="col-md-12">
              <div class="text-center">
               <h1 class="padding-b-25">Achivements</h1>
              </div>
             </div>
            </div>
          <div class="row">
            <div class="text-center">
              <div class="toolbar mb2 mt2 padding-b-25">
              <button class="btn fil-cat" href="/" data-rel="all">All</button>
              <button class="btn fil-cat" href="/" data-rel="data-science">Data Science</button>
              <button class="btn fil-cat" href="/" data-rel="machine-learning">Machine Learning</button>
              <button class="btn fil-cat" href="/" data-rel="r-programming">R Programming</button>
              <button class="btn fil-cat" href="/" data-rel="other">Other</button>
              </div> 
            </div> 
 
            <div style="clear:both;"></div>   
              <div id="portfolio">
                <div class="all data-science">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg"><img src="../assets/certificates/data-science-specialization.png" class="frame"/>JHU: Data Science Specialization</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all machine-learning">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg2"><img src="../assets/certificates/machine-learning.png" class="frame"/>Stanford University: Machine Learning</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all r-programming">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg3"><img src="../assets/certificates/microsoft-certified-r-programming-certificate.png" class="frame"/>Microsoft: Programming in R for Data Science</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all data-science">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg4"><img src="../assets/certificates/data-science-capstone.png" class="frame"/>JHU: Data Science Capstone Project</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all data-science">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg5"><img src="../assets/certificates/developing-data-products.png" class="frame"/>JHU: Developing Data Products</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all data-science machine-learning">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg6"><img src="../assets/certificates/practical-machine-learning.png" class="frame"/>JHU: Practical Machine Learning</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all data-science machine-learning">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg7"><img src="../assets/certificates/regression-models.png" class="frame"/>JHU: Regression Models</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all data-science">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg8"><img src="../assets/certificates/exploratory-data-analysis.png" class="frame"/>JHU: Exploratory Data Analysis</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all data-science">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg9"><img src="../assets/certificates/getting-and-cleaning-data.png" class="frame"/>JHU: Getting & Cleaning Data</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all r-programming">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg10"><img src="../assets/certificates/mastering-software-development-in-r.png" class="frame"/>JHU: Mastering Software Development in R</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all r-programming">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg11"><img src="../assets/certificates/mastering-software-development-in-r-capstone.png" class="frame"/>JHU: Mastering Software Development in R Capstone</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all r-programming">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg12"><img src="../assets/certificates/building-r-packages.png" class="frame"/>JHU: Building R Packages</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all r-programming">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg13"><img src="../assets/certificates/advanced-r-programming.png" class="frame"/>JHU: Advanced R Programming</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all r-programming">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg14"><img src="../assets/certificates/building-data-visualization-tools.png" class="frame"/>JHU: Building Data Visualization Tools</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all r-programming">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg15"><img src="../assets/certificates/the-r-programming-environment.png" class="frame"/>JHU: The R Programming Environment</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all other">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg16"><img src="../assets/certificates/data-analysis-and-presentation-skills-the-pwc-approach.png" class="frame"/>PWC: Data Analysis & Presentation Skills: Thw PWC Approach</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all other">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg17"><img src="../assets/certificates/data-analysis-and-presentation-skills-the-pwc--approach-final-project.png" class="frame"/>PWC: Data Analysis & Presentation Skills: Thw PWC Approach Final Project</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all other">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg18"><img src="../assets/certificates/data-visualization-with-advanced-excel.png" class="frame"/>PWC: Data Visualization with Advanced Excel</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all other">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg19"><img src="../assets/certificates/problem-solving-with-excel.png" class="frame"/>PWC: Problem Solving with Excel</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all other">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg20"><img src="../assets/certificates/decision-driven-decision-making.png" class="frame"/>PWC: Decision Driven Decision Making</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
                <div class="all other">
                  <a data-toggle="modal" data-target=".bs-example-modal-lg21"><img src="../assets/certificates/effective-business-presentation-with-powerpoint.png" class="frame"/>PWC: Effective Business Presentation with Powerpoint</a>
                </div>
                <div style="clear:both;padding-bottom: 10px;"></div>
              </div>
          </div>
         </div>
        </section>