<style type="text/css">

h1, h2{
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}

h1, h2, .h1, .h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.bs-callout-danger h4{
    color: #d9534f;

}

.btn{
    border-radius:0;
        font-family: 'Open Sans Condensed', sans-serif, sans-serif;
        margin-bottom:15px;

    }
</style>

<div class="container">
<h2 style='text-align: center;'><b>Data</b> Science</h2>
	<p>During my Professional carrier as a <b>Full Stack Developer</b>, I decided to jump into the Data Science after I saw it's potential to reveal such useful information that NO technology does so precisely and accurately.</p>

	<p>To build my skills in this domain, I decided to get certified in this domain and did a <b>Specialisation Course in Data Science</b> and got certfied after going through a massive training.This course included:</p>

	<div class="container-fluid text-center">
		<div class="row">
		  <div class="col-sm-6">
			<button type="button" class="btn btn-warning"><b>The Data Scientist’s Toolbox</b></button><br/><br/>
			<button type="button" class="btn"><b>R Programming</b></button><br/><br/>
			<button type="button" class="btn btn-primary"><b>Getting and Cleaning Data</b></button><br/><br/>
			<button type="button" class="btn btn-info"><b>Exploratory Data Analysis</b></button><br/><br/>
			<button type="button" class="btn btn-success"><b>Reproducible Research</b></button><br/><br/>
		  </div>
		  <div class="col-sm-6">
			<button type="button" class="btn"><b>Statistical Interference</b></button><br/><br/>
			<button type="button" class="btn btn-info"><b>Regression Models</b></button><br/><br/>
			<button type="button" class="btn btn-danger"><b>Practical Machine Learning</b></button><br/><br/>
			<button type="button" class="btn btn-warning"><b>Developing Data Products</b></button><br/><br/>
			<button type="button" class="btn btn-default"><b>Data Science Capstone Project</b></button><br/><br/>
		  </div>
		</div>
  </div>




	<p>Besides this, I also did some more skill building doing courses in:</p>
<div class="container-fluid text-center">
	<div class="row" style="margin-top: -30px;">
	<br/>
		<div class="media col-sm-4">
		  <div class="media-left media-top">
		    <a href="#">
		      <img class="media-object" src="../assets/logos/stanford.png" alt="..." style="max-height: 50px;">
		    </a>
		  </div>
		  <div class="media-body media-middle" style="border-right: 0.5px solid;">
		    <h5><b>Machine Learning Certification</b></h5>
		  </div>
		</div>
		<div class="media col-sm-4">
		  <div class="media-left media-top">
		    <a href="#">
		      <img class="media-object" src="../assets/logos/microsoft.png" alt="..." style="max-height: 50px;">
		    </a>
		  </div>
		  <div class="media-body media-middle" style="border-right: 0.5px solid;">
		    <h5><b>R-Programming certification</b></h5>
		  </div>
		</div>
		<div class="media col-sm-4">
		  <div class="media-left media-top">
		    <a href="#">
		      <img class="media-object" src="../assets/logos/jhu.png" alt="..." style="max-height: 50px;">
		    </a>
		  </div>
		  <div class="media-body media-middle">
		    <h5><b>Mastering Software Development in R</b></h5>
		  </div>
		</div>
	</div>
</div>

<br/><br/>
	<p>Thereafter, to make my self more aware of <b>BIGDATA</b> and a full blown <b>Data Scientist</b>, I decided to do specialization in <b>BIGDATA</b>. And I did a <b>Specilization</b> in <b>BIG DATA</b>.</p>

<h2 style='text-align: center;'>My Major Skills as a Data Scientist</h2>

               <div class="bs-callout bs-callout-danger">
                  <h4>Techniques:</h4>
                    <button type="button" class="btn"><b>Natural Language Processing</b></button>
                    <button type="button" class="btn btn-default"><b>Sentiment analysis</b></button>
                    <button type="button" class="btn"><b>Simulation</b></button>
                    <button type="button" class="btn btn-default"><b>Optimization</b></button>
                    <button type="button" class="btn"><b>Comparative analysis</b></button>
                    <button type="button" class="btn btn-default"><b>Segmentation analysis</b></button>
                    <button type="button" class="btn"><b>Time series analysis</b></button>
                    <button type="button" class="btn btn-default"><b>Statistical analysis</b></button>
                    <button type="button" class="btn"><b>Geospatial analysis</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Data Source:</h4>
                    <button type="button" class="btn"><b>SQL Databases</b></button>
                    <button type="button" class="btn btn-default"><b>NoSQL</b></button>
                    <button type="button" class="btn"><b>Spreadsheets</b></button>
                    <button type="button" class="btn btn-default"><b>SAP Hana</b></button>
                    <button type="button" class="btn"><b>Websites</b></button>
                    <button type="button" class="btn btn-default"><b>Text</b></button>
                    <button type="button" class="btn"><b>Images</b></button>
                    <button type="button" class="btn btn-default"><b>Log files</b></button>
                    <button type="button" class="btn"><b>Social network</b></button>
                    <button type="button" class="btn btn-default"><b>Time series</b></button>
                    <button type="button" class="btn"><b>Web APIs</b></button>
                    <button type="button" class="btn btn-default"><b>Emails</b></button>
                    <button type="button" class="btn"><b>Sensor data</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>ETL Process:</h4>
                    <button type="button" class="btn"><b>Text patterns</b></button>
                    <button type="button" class="btn btn-default"><b>Data mining</b></button>
                    <button type="button" class="btn"><b>Data cleansing</b></button>
                    <button type="button" class="btn btn-default"><b>Data merging</b></button>
                    <button type="button" class="btn"><b>Data verification</b></button>
                    <button type="button" class="btn btn-default"><b>Data conversion</b></button>
                    <button type="button" class="btn"><b>Aggregation</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>ML Algorithms:</h4>
                    <div>
                      <h6 style="margin-left: 1vw; color:#771313;"><b>- Regression:</b></h6>
                      <div style="margin-left: 1vw">
                        <button type="button" class="btn"><b>Linear</b></button>
                        <button type="button" class="btn btn-default"><b>Ridge</b></button>
                        <button type="button" class="btn"><b>Lasso</b></button>
                        <button type="button" class="btn btn-default"><b>Elastic net</b></button>
                        <button type="button" class="btn"><b>Survival</b></button>
                        <button type="button" class="btn btn-default"><b>Isotonic</b></button>
                        <button type="button" class="btn"><b>Kernel</b></button>
                      </div>
                    </div>
                    <div>
                      <h6 style="margin-left: 1vw; color:#771313;"><b>- Classification:</b></h6>
                      <div style="margin-left: 1vw">
                        <button type="button" class="btn btn-default"><b>Logistic</b></button>
                        <button type="button" class="btn"><b>Decision Tree</b></button>
                        <button type="button" class="btn btn-default"><b>Random forest</b></button>
                        <button type="button" class="btn"><b>Gradient boosted</b></button>
                        <button type="button" class="btn btn-default"><b>SVM</b></button>
                        <button type="button" class="btn"><b>Naive Bayes</b></button>
                      </div>
                    </div>
                    <div>
                      <h6 style="margin-left: 1vw; color:#771313;"><b>- Clustering & Retrieval:</b></h6>
                      <div style="margin-left: 1vw">
                        <button type="button" class="btn btn-default"><b>KNN</b></button>
                        <button type="button" class="btn"><b>K-means</b></button>
                        <button type="button" class="btn btn-default"><b>LDA</b></button>
                        <button type="button" class="btn"><b>Gaussian mixture</b></button>
                      </div>
                    </div>
                    <div>
                      <h6 style="margin-left: 1vw; color:#771313;"><b>- Anomaly:</b></h6>
                      <div style="margin-left: 1vw">
                        <button type="button" class="btn btn-default"><b>Local Outlier Factor</b></button>
                        <button type="button" class="btn"><b>Moving Z-score</b></button>
                        <button type="button" class="btn btn-default"><b>Bayesian Changepoints</b></button>
                      </div>
                    </div>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Optimization Algorithms:</h4>
  					  <button type="button" class="btn"><b>Principal Component Analysis</b></button>
  					  <button type="button" class="btn btn-default"><b>Singular Value Decomposition</b></button>
  					  <button type="button" class="btn btn"><b>Stochastic Gradient Descent</b></button>
  					  <button type="button" class="btn btn-default"><b>Alternating Least Squares</b></button>
  					  <button type="button" class="btn btn"><b>Gradient Descent</b></button>
  					  <button type="button" class="btn btn-default"><b>Coordinate Descent</b></button>
  					  <button type="button" class="btn btn"><b>Boosting</b></button>
  					  <button type="button" class="btn btn-default"><b>Grid Search</b></button>
  					  <button type="button" class="btn btn"><b>Batch Gradient Descent</b></button>
              		  <button type="button" class="btn btn-default"><b>Expectation Maximization</b></button>
                      <button type="button" class="btn btn"><b>LSH</b></button>
                      <button type="button" class="btn btn-default"><b>KD Tree</b></button>
                      <button type="button" class="btn btn"><b>Ball Tree</b></button>
               </div>
               <div class="bs-callout bs-callout-danger">
                  <h4>Machine Learning Model Validation Techniques:</h4>
                      <button type="button" class="btn"><b>Cross Validation</b></button>
                      <button type="button" class="btn btn-default"><b>Loss function</b></button>
                      <button type="button" class="btn btn"><b>Stochastic Gradient Descent</b></button>
                      <button type="button" class="btn btn-default"><b>Alternating Least Squares</b></button>
                      <button type="button" class="btn btn"><b>Gradient Descent</b></button>
                      <button type="button" class="btn btn-default"><b>Coordinate Descent</b></button>
                      <button type="button" class="btn btn"><b>Boosting</b></button>
                      <button type="button" class="btn btn-default"><b>Grid Search</b></button>
                      <button type="button" class="btn btn"><b>Batch Gradient Descent</b></button>
                      <button type="button" class="btn btn-default"><b>Expectation Maximization</b></button>
                      <button type="button" class="btn btn"><b>LSH</b></button>
                      <button type="button" class="btn btn-default"><b>KD Tree</b></button>
                      <button type="button" class="btn btn"><b>Ball Tree</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Evaluation Matrix:</h4>
                      <button type="button" class="btn"><b>Precision-Recall</b></button>
                      <button type="button" class="btn btn-default"><b>F-scores</b></button>
                      <button type="button" class="btn btn"><b>Receiver Operating Characteristic</b></button>
                      <button type="button" class="btn btn-default"><b>Area Under Curve</b></button>
                      <button type="button" class="btn btn"><b>Confusion Matrix</b></button>
                      <button type="button" class="btn btn-default"><b>Residual Sum of Squares</b></button>
                      <button type="button" class="btn btn"><b>Root Mean Square Error</b></button>
                      <button type="button" class="btn btn-default"><b>Accuracy</b></button>
                      <button type="button" class="btn btn"><b>Cost Function</b></button>
                      <button type="button" class="btn btn-default"><b>Loss function</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Frameworks:</h4>
                      <button type="button" class="btn"><b>TensorFlow</b></button>
                      <button type="button" class="btn btn-default"><b>Scikit-Learn</b></button>
                      <button type="button" class="btn btn"><b>Spark (SQL, Streaming, MLlib)</b></button>
                      <button type="button" class="btn btn-default"><b>Area Under Curve</b></button>
                      <button type="button" class="btn btn"><b>Graphlab Create</b></button>
                      <button type="button" class="btn btn-default"><b>Apache Spark</b></button>
                      <button type="button" class="btn btn"><b>Hadoop</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Tools:</h4>
                      <button type="button" class="btn"><b>Tableau</b></button>
                      <button type="button" class="btn btn-default"><b>Qlikview</b></button>
                      <button type="button" class="btn btn"><b>Power BI</b></button>
                      <button type="button" class="btn btn-default"><b>JIRA</b></button>
                      <button type="button" class="btn btn"><b>Jenkins</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Languages:</h4>
                      <button type="button" class="btn"><b>SCALA</b></button>
                      <button type="button" class="btn btn-default"><b>Python</b></button>
                      <button type="button" class="btn btn"><b>R</b></button>
                      <button type="button" class="btn btn-default"><b>JAVA</b></button>
                      <button type="button" class="btn btn"><b>Javascript</b></button>
                      <button type="button" class="btn btn-default"><b>PHP</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Web Frameworks:</h4>
                    <button type="button" class="btn"><b>Django</b></button>
                    <button type="button" class="btn btn-default"><b>Flask</b></button>
                    <button type="button" class="btn"><b>Nodejs</b></button>
                    <button type="button" class="btn btn-default"><b>Angular</b></button>
               </div>
               <div class="bs-callout bs-callout-danger">
                  <h4>Databases:</h4>
					  <button type="button" class="btn"><b>Cassandra</b></button>
					  <button type="button" class="btn btn-default"><b>MongoDB</b></button>
					  <button type="button" class="btn"><b>MySQL</b></button>
					  <button type="button" class="btn btn-default"><b>SQL</b></button>
					  <button type="button" class="btn"><b>PostgreSQL</b></button>
					  <button type="button" class="btn btn-default"><b>Oracle 8I</b></button>
					  <button type="button" class="btn"><b>Access (Jet, MSDE)</b></button>
               </div>
               <div class="bs-callout bs-callout-danger">
                  <h4>IDEs:</h4>
                    <button type="button" class="btn"><b>R Studio</b></button>
                    <button type="button" class="btn btn-default"><b>Jupyter Notebook</b></button>
          				  <button type="button" class="btn"><b>Intellij IDEA</b></button>
          				  <button type="button" class="btn btn-default"><b>Scala IDE</b></button>
          				  <button type="button" class="btn"><b>Matlab</b></button>
          				  <button type="button" class="btn btn-default"><b>Netbeans</b></button>
          				  <button type="button" class="btn"><b>Eclipse</b></button>
          				  <button type="button" class="btn btn-default"><b>Sublime Text3</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Cloud Services:</h4>
					  <button type="button" class="btn"><b>Google Machine Learning</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Version Control System:</h4>
                      <button type="button" class="btn btn-default"><b>Bitbucket</b></button>
                      <button type="button" class="btn btn"><b>GIT</b></button>
                      <button type="button" class="btn btn-default"><b>SVN</b></button>
                      <button type="button" class="btn btn"><b>Bugzilla</b></button>
               </div>


	<p>During my professional journey as a Data Scientist, I did following major projects:</p>
	<ul>
		<li>Help Building Branding and promotional offerings for Multi-Speciality Hospital Group</li>
		<li>Sentiment Analysis from social networking sites like Facebook, twitter etc.</li>
		<li>Optimizing multi-location, multi-specialty Hospital Group performance through actionable insights</li>
		<li>Analysis and Optimization of Retail Operations and Supply Chain Management</li>
	</ul>
</div>