<style type="text/css">

h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}
/*Summary*/
.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4{
    color: #d9534f;
}
.table-email .media h4 {
  margin: 0px;
  font-size: 14px;
  line-height: normal;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.btn{
    border-radius:0;
        font-family: 'Open Sans Condensed', sans-serif, sans-serif;
        margin-bottom:15px;

    }
</style>

<div class="container">
<h2 style='text-align: center;'><b>ETL &</b> Warehousing</h2>
<p>Being a data scientist, I have done following tasks during <b>ETL & Warehousing process</b>.</p>
<ul>
	<li>Install, configure and maintain enterprise hadoop environment</li>
	<li>Loading data from different datasets and deciding on which file format is efficient for a task. Hadoop developers source large volumes of data from diverse data platforms into Hadoop platform</li>
	<li>Understanding the requirements of input to output transformations</li>
	<li>Hadoop developers spend lot of time in cleaning data as per business requirements using streaming API’s or user defined functions</li>
	<li>Defining Hadoop Job Flows</li>
	<li>Build distributed, reliable and scalable data pipelines to ingest and process data in real-time. Hadoop developer deals with fetching impression streams, transaction behaviours, clickstream data and other unstructured data</li>
	<li>Managing Hadoop jobs using scheduler</li>
	<li>Reviewing and managing hadoop log files</li>
	<li>Design and implement column family schemas of Hive and HBase within HDFS</li>
	<li>Assign schemas and create Hive tables</li>
	<li>Managing and deploying HBase clusters</li>
	<li>Develop efficient pig and hive scripts with joins on datasets using various techniques</li>
	<li>Assess the quality of datasets for a hadoop data lake</li>
	<li>Apply different HDFS formats and structure like Parquet, Avro, etc. to speed up analytics</li>
	<li>Build new hadoop clusters</li>
	<li>Maintain the privacy and security of hadoop clusters</li>
	<li>Fine tune hadoop applications for high performance and throughput</li>
	<li>Troubleshoot and debug any hadoop ecosystem run time issues</li>
</ul>
<h2 style='text-align: center;'>My Major Skills as a Data Engineer</h2>
               <div class="bs-callout bs-callout-danger">
                  <h4>Data Source:</h4>
                    <button type="button" class="btn"><b>SQL Databases</b></button>
                    <button type="button" class="btn btn-default"><b>NoSQL</b></button>
                    <button type="button" class="btn"><b>Spreadsheets</b></button>
                    <button type="button" class="btn btn-default"><b>SAP Hana</b></button>
                    <button type="button" class="btn"><b>Websites</b></button>
                    <button type="button" class="btn btn-default"><b>Text</b></button>
                    <button type="button" class="btn"><b>Images</b></button>
                    <button type="button" class="btn btn-default"><b>Log files</b></button>
                    <button type="button" class="btn"><b>Social network</b></button>
                    <button type="button" class="btn btn-default"><b>Time series</b></button>
                    <button type="button" class="btn"><b>Web APIs</b></button>
                    <button type="button" class="btn btn-default"><b>Emails</b></button>
                    <button type="button" class="btn"><b>Sensor data</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>ETL Process:</h4>
                    <button type="button" class="btn"><b>Text patterns</b></button>
                    <button type="button" class="btn btn-default"><b>Data mining</b></button>
                    <button type="button" class="btn"><b>Data cleansing</b></button>
                    <button type="button" class="btn btn-default"><b>Data merging</b></button>
                    <button type="button" class="btn"><b>Data verification</b></button>
                    <button type="button" class="btn btn-default"><b>Data conversion</b></button>
                    <button type="button" class="btn"><b>Aggregation</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>ML Algorithms:</h4>
                    <div>
                      <h6 style="margin-left: 1vw; color:#771313;"><b>- Anomaly:</b></h6>
                      <div style="margin-left: 1vw">
                        <button type="button" class="btn btn-default"><b>Local Outlier Factor</b></button>
                        <button type="button" class="btn"><b>Moving Z-score</b></button>
                        <button type="button" class="btn btn-default"><b>Bayesian Changepoints</b></button>
                      </div>
                    </div>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Optimization Algorithms:</h4>
  					  <button type="button" class="btn"><b>Principal Component Analysis</b></button>
  					  <button type="button" class="btn btn-default"><b>Singular Value Decomposition</b></button>
  					  <button type="button" class="btn btn"><b>Stochastic Gradient Descent</b></button>
  					  <button type="button" class="btn btn-default"><b>Alternating Least Squares</b></button>
  					  <button type="button" class="btn btn"><b>Gradient Descent</b></button>
  					  <button type="button" class="btn btn-default"><b>Coordinate Descent</b></button>
  					  <button type="button" class="btn btn"><b>Boosting</b></button>
  					  <button type="button" class="btn btn-default"><b>Grid Search</b></button>
  					  <button type="button" class="btn btn"><b>Batch Gradient Descent</b></button>
              		  <button type="button" class="btn btn-default"><b>Expectation Maximization</b></button>
                      <button type="button" class="btn btn"><b>LSH</b></button>
                      <button type="button" class="btn btn-default"><b>KD Tree</b></button>
                      <button type="button" class="btn btn"><b>Ball Tree</b></button>
               </div>
               <div class="bs-callout bs-callout-danger">
                  <h4>Frameworks:</h4>
                      <button type="button" class="btn btn-default"><b>Apache Spark</b></button>
                      <button type="button" class="btn btn"><b>Hadoop</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Tools:</h4>
                      <button type="button" class="btn"><b>Tableau</b></button>
                      <button type="button" class="btn btn-default"><b>Qlikview</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Languages:</h4>
                      <button type="button" class="btn"><b>SCALA</b></button>
                      <button type="button" class="btn btn-default"><b>Python</b></button>
                      <button type="button" class="btn btn"><b>R</b></button>
                      <button type="button" class="btn btn-default"><b>JAVA</b></button>
                      <button type="button" class="btn btn"><b>Javascript</b></button>
                      <button type="button" class="btn btn-default"><b>PHP</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Databases:</h4>
					  <button type="button" class="btn"><b>Cassandra</b></button>
					  <button type="button" class="btn btn-default"><b>MongoDB</b></button>
					  <button type="button" class="btn"><b>MySQL</b></button>
					  <button type="button" class="btn btn-default"><b>SQL</b></button>
					  <button type="button" class="btn"><b>PostgreSQL</b></button>
					  <button type="button" class="btn btn-default"><b>Oracle 8I</b></button>
					  <button type="button" class="btn"><b>Access (Jet, MSDE)</b></button>
               </div>



               <div class="bs-callout bs-callout-danger">
                  <h4>IDEs:</h4>
                    <button type="button" class="btn"><b>R Studio</b></button>
                    <button type="button" class="btn btn-default"><b>Jupyter Notebook</b></button>
          				  <button type="button" class="btn"><b>Intellij IDEA</b></button>
          				  <button type="button" class="btn btn-default"><b>Scala IDE</b></button>
          				  <button type="button" class="btn btn-default"><b>Netbeans</b></button>
          				  <button type="button" class="btn"><b>Eclipse</b></button>
          				  <button type="button" class="btn btn-default"><b>Sublime Text3</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Cloud Platforms:</h4>
					  <button type="button" class="btn"><b>Amazon</b></button>
					  <button type="button" class="btn btn-default"><b>Google Cloud</b></button>
					  <button type="button" class="btn"><b>RackSpace</b></button>
					  <button type="button" class="btn btn-default"><b>GoDaddy</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Version Control System:</h4>
                      <button type="button" class="btn btn-default"><b>Bitbucket</b></button>
                      <button type="button" class="btn btn"><b>GIT</b></button>
                      <button type="button" class="btn btn-default"><b>SVN</b></button>
                      <button type="button" class="btn btn"><b>Bugzilla</b></button>
               </div>

</div>