
<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <div class="logofooter"> About Me</div>
                  <p>My name is <b>Prashant Gautam</b> and I am working presently as a <b>Data Scientist</b>. I have done B-Tech in Electronics & Communication. I have overall experience of <b>7+ years</b>. During <a [routerLink]="['about']">Read More...</a></p>

        <p><i class="fa fa-map-pin"></i> Ahmedabad, India</p>
        <p><i class="fa fa-phone"></i> Phone (India) : +91 9725 44 99 11</p>
        <p><i class="fa fa-envelope"></i> E-mail : contact@prashantgautam.com</p>
        
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li ><a [routerLink]="['achievements']">Achievements</a></li>
          <li ><a [routerLink]="['blog']">Blog</a></li>
          <li ><a [routerLink]="['forum']">Forum</a></li>
          <li ><a [routerLink]="['about']">About Me</a></li>
          <li ><a [routerLink]="['contact']">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Social Media</h6>
        <ul class="footer-social">
          <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
          <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
        </ul>

      </div>

    </div>
  </div>
</footer>
<!--footer start from here-->
	
<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with Prashant Gautam</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
          <li ><a [routerLink]="['']">Home</a></li>
          <li ><a [routerLink]="['achievements']">Achievements</a></li>
          <li ><a [routerLink]="['blog']">Blog</a></li>
          <li ><a [routerLink]="['forum']">Forum</a></li>
          <li ><a [routerLink]="['about']">About Me</a></li>
          <li ><a [routerLink]="['contact']">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
