
<div style="margin-top: -1.5vw;" id="carousel-example" class="carousel slide" data-ride="carousel">
  <!--<ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>-->

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="../assets/slider-banners/datascience.png" /></a>
      <div class="carousel-caption">
      </div>
    </div>
    <!--<div class="item">
      <a href="#"><img src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="http://placekitten.com/1600/600" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>-->
  </div>
<!--
  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>-->
</div>

<div class="container2">
<h2 class="padding-b-25">Achievements</h2>
        <div id="carousel-rotar">
            <a [routerLink]="['achievements']"><figure><img src="../assets/certificates/achievements-crousel/mastering-software-development-in-r-186x116.png" alt=""></figure></a>
            <figure><img src="../assets/certificates/achievements-crousel/microsoft-certified-r-programming-certificate-186x116.png" alt=""></figure>
            <figure><img src="../assets/certificates/achievements-crousel/data-science-specialization-186x116.png" alt=""></figure>
            <figure><img src="../assets/certificates/achievements-crousel/machine-learning-186x116.png" alt=""></figure>
            <figure><img src="../assets/certificates/achievements-crousel/mastering-software-development-in-r-186x116.png" alt=""></figure>
            <figure><img src="../assets/certificates/achievements-crousel/microsoft-certified-r-programming-certificate-186x116.png" alt=""></figure>
            <figure><img src="../assets/certificates/achievements-crousel/data-science-specialization-186x116.png" alt=""></figure>
            <figure><img src="../assets/certificates/achievements-crousel/machine-learning-186x116.png" alt=""></figure>
            <figure><img src="../assets/certificates/achievements-crousel/mastering-software-development-in-r-186x116.png" alt=""></figure>
        </div>

</div>

<section>
    <div class="container">
        <div class="row">
           
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon bg-df circle"><i class="fa fa-diamond"></i></span>
                    <h3>Data Science</h3>
                    <div class="divider clearfix"></div>
                    <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                    <span class="icon bg-df circle"><i class="fa fa-connectdevelop"></i></span>
                    <h3>Machine Learning</h3>
                    <div class="divider clearfix"></div>
                    <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon bg-df circle"><i class="fa fa-laptop"></i></span>
                    <h3>ETL & Data Warehousing</h3>
                    <div class="divider clearfix"></div>
                    <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon bg-df circle"><i class="fa fa-diamond"></i></span>
                    <h3>Business <br/>Analytics</h3>
                    <div class="divider clearfix"></div>
                    <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                    <span class="icon bg-df circle"><i class="fa fa-connectdevelop"></i></span>
                    <h3>Web <br/>Development</h3>
                    <div class="divider clearfix"></div>
                    <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon bg-df circle"><i class="fa fa-laptop"></i></span>
                    <h3>Server Monitoring & Management</h3>
                    <div class="divider clearfix"></div>
                    <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

