<style type="text/css">

h1, h2{
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}

h1, h2, .h1, .h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.bs-callout-danger h4{
    color: #d9534f;

}

.btn{
    border-radius:0;
        font-family: 'Open Sans Condensed', sans-serif, sans-serif;
        margin-bottom:15px;

    }
</style>
<div class="container">
<h2 style='text-align: center;'><b>Machine</b> Learning</h2>
	<p>Since many years, researchers, Data Scientists etc...  are trying to build machines that can make human life easy. During past years, many machines have been made that has made the life easy for human being. Today we all are surrounded by such machines. And we should really thank researchers, Data Scientists etc... who have build these machines to make our lives easy.</p>

	<p>Now everyday we see new feature added to such machine making our life easy more and more. Continuing to make life more easy, researchers, Data Scientists are trying to build machines that can not only to a specific or defined set of task, but can also think, react and even take correct decisions with great precision.</p>

	<p>Programming machine to do specific task or defined set of task, is nowadays not a big deal and can be surely achieved with acceptable amount of precision. But the problem with such machine comes in when these machines comes across a scenerio while doing a pre-defined task for which programmer actually missed to code for scenerio as it was very rare. But this not necessarily does not mean that programmer was not good in programming. As everything has a limitations, we human beings too have a limitations to think of all possible scenerio for all the problems that can happen. So to my knowledge, there is no human programmer that can think and program all possible combinations of scenerio for all the problems. So now researchers and Data Scientists realized this and accepted this fact and as a solution decided to build machines, that have a Brain. So that they can learn from their mistakes and correct themselves by their own. </p>

	<p>So working on this solution, researchers and Data Scientists have created machines that can think and make decesions on their own.You may find such machines available in the market today at afforable prices. These machines today are not just build to do specific task, but are also used for entertainment. Cozmo, a cute little machine is one of such example availble in the market today.</p>

	<p>As Machine learning plays an very important role in Data Science for the projects where we need to predict something based on existing pattern or information from the available data. I completed a course in Machine learning from Stanford University. During my professional carrier as a Data Scientist, I have done following projects that were more specific to machine learning:</p>

			               
               <div class="bs-callout bs-callout-danger">
                  <h4>Techniques:</h4>
                    <button type="button" class="btn"><b>Natural Language Processing</b></button>
                    <button type="button" class="btn btn-default"><b>Sentiment analysis</b></button>
                    <button type="button" class="btn"><b>Simulation</b></button>
                    <button type="button" class="btn btn-default"><b>Optimization</b></button>
                    <button type="button" class="btn"><b>Comparative analysis</b></button>
                    <button type="button" class="btn btn-default"><b>Segmentation analysis</b></button>
                    <button type="button" class="btn"><b>Time series analysis</b></button>
                    <button type="button" class="btn btn-default"><b>Statistical analysis</b></button>
                    <button type="button" class="btn"><b>Geospatial analysis</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Data Source:</h4>
                    <button type="button" class="btn"><b>SQL Databases</b></button>
                    <button type="button" class="btn btn-default"><b>NoSQL</b></button>
                    <button type="button" class="btn"><b>Spreadsheets</b></button>
                    <button type="button" class="btn btn-default"><b>SAP Hana</b></button>
                    <button type="button" class="btn"><b>Websites</b></button>
                    <button type="button" class="btn btn-default"><b>Text</b></button>
                    <button type="button" class="btn"><b>Images</b></button>
                    <button type="button" class="btn btn-default"><b>Log files</b></button>
                    <button type="button" class="btn"><b>Social network</b></button>
                    <button type="button" class="btn btn-default"><b>Time series</b></button>
                    <button type="button" class="btn"><b>Web APIs</b></button>
                    <button type="button" class="btn btn-default"><b>Emails</b></button>
                    <button type="button" class="btn"><b>Sensor data</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>ML Algorithms:</h4>
                    <div>
                      <h6 style="margin-left: 1vw; color:#771313;"><b>- Regression:</b></h6>
                      <div style="margin-left: 1vw">
                        <button type="button" class="btn"><b>Linear</b></button>
                        <button type="button" class="btn btn-default"><b>Ridge</b></button>
                        <button type="button" class="btn"><b>Lasso</b></button>
                        <button type="button" class="btn btn-default"><b>Elastic net</b></button>
                        <button type="button" class="btn"><b>Survival</b></button>
                        <button type="button" class="btn btn-default"><b>Isotonic</b></button>
                        <button type="button" class="btn"><b>Kernel</b></button>
                      </div>
                    </div>
                    <div>
                      <h6 style="margin-left: 1vw; color:#771313;"><b>- Classification:</b></h6>
                      <div style="margin-left: 1vw">
                        <button type="button" class="btn btn-default"><b>Logistic</b></button>
                        <button type="button" class="btn"><b>Decision Tree</b></button>
                        <button type="button" class="btn btn-default"><b>Random forest</b></button>
                        <button type="button" class="btn"><b>Gradient boosted</b></button>
                        <button type="button" class="btn btn-default"><b>SVM</b></button>
                        <button type="button" class="btn"><b>Naive Bayes</b></button>
                      </div>
                    </div>
                    <div>
                      <h6 style="margin-left: 1vw; color:#771313;"><b>- Clustering & Retrieval:</b></h6>
                      <div style="margin-left: 1vw">
                        <button type="button" class="btn btn-default"><b>KNN</b></button>
                        <button type="button" class="btn"><b>K-means</b></button>
                        <button type="button" class="btn btn-default"><b>LDA</b></button>
                        <button type="button" class="btn"><b>Gaussian mixture</b></button>
                      </div>
                    </div>
                    <div>
                      <h6 style="margin-left: 1vw; color:#771313;"><b>- Anomaly:</b></h6>
                      <div style="margin-left: 1vw">
                        <button type="button" class="btn btn-default"><b>Local Outlier Factor</b></button>
                        <button type="button" class="btn"><b>Moving Z-score</b></button>
                        <button type="button" class="btn btn-default"><b>Bayesian Changepoints</b></button>
                      </div>
                    </div>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Optimization Algorithms:</h4>
						<button type="button" class="btn"><b>Principal Component Analysis</b></button>
						<button type="button" class="btn btn-default"><b>Singular Value Decomposition</b></button>
						<button type="button" class="btn btn"><b>Stochastic Gradient Descent</b></button>
						<button type="button" class="btn btn-default"><b>Alternating Least Squares</b></button>
						<button type="button" class="btn btn"><b>Gradient Descent</b></button>
						<button type="button" class="btn btn-default"><b>Coordinate Descent</b></button>
						<button type="button" class="btn btn"><b>Boosting</b></button>
						<button type="button" class="btn btn-default"><b>Grid Search</b></button>
						<button type="button" class="btn btn"><b>Batch Gradient Descent</b></button>
						<button type="button" class="btn btn-default"><b>Expectation Maximization</b></button>
						<button type="button" class="btn btn"><b>LSH</b></button>
						<button type="button" class="btn btn-default"><b>KD Tree</b></button>
						<button type="button" class="btn btn"><b>Ball Tree</b></button>
               </div>
               <div class="bs-callout bs-callout-danger">
                  <h4>Machine Learning Model Validation Techniques:</h4>
                      <button type="button" class="btn"><b>Cross Validation</b></button>
                      <button type="button" class="btn btn-default"><b>Loss function</b></button>
                      <button type="button" class="btn btn"><b>Stochastic Gradient Descent</b></button>
                      <button type="button" class="btn btn-default"><b>Alternating Least Squares</b></button>
                      <button type="button" class="btn btn"><b>Gradient Descent</b></button>
                      <button type="button" class="btn btn-default"><b>Coordinate Descent</b></button>
                      <button type="button" class="btn btn"><b>Boosting</b></button>
                      <button type="button" class="btn btn-default"><b>Grid Search</b></button>
                      <button type="button" class="btn btn"><b>Batch Gradient Descent</b></button>
                      <button type="button" class="btn btn-default"><b>Expectation Maximization</b></button>
                      <button type="button" class="btn btn"><b>LSH</b></button>
                      <button type="button" class="btn btn-default"><b>KD Tree</b></button>
                      <button type="button" class="btn btn"><b>Ball Tree</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Evaluation Matrix:</h4>
                      <button type="button" class="btn"><b>Precision-Recall</b></button>
                      <button type="button" class="btn btn-default"><b>F-scores</b></button>
                      <button type="button" class="btn btn"><b>Receiver Operating Characteristic</b></button>
                      <button type="button" class="btn btn-default"><b>Area Under Curve</b></button>
                      <button type="button" class="btn btn"><b>Confusion Matrix</b></button>
                      <button type="button" class="btn btn-default"><b>Residual Sum of Squares</b></button>
                      <button type="button" class="btn btn"><b>Root Mean Square Error</b></button>
                      <button type="button" class="btn btn-default"><b>Accuracy</b></button>
                      <button type="button" class="btn btn"><b>Cost Function</b></button>
                      <button type="button" class="btn btn-default"><b>Loss function</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Frameworks:</h4>
                      <button type="button" class="btn"><b>TensorFlow</b></button>
                      <button type="button" class="btn btn-default"><b>Scikit-Learn</b></button>
                      <button type="button" class="btn btn"><b>Spark MLlib)</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Languages:</h4>
                      <button type="button" class="btn"><b>SCALA</b></button>
                      <button type="button" class="btn btn-default"><b>Python</b></button>
                      <button type="button" class="btn btn"><b>R</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>IDEs:</h4>
                    <button type="button" class="btn"><b>R Studio</b></button>
                    <button type="button" class="btn btn-default"><b>Jupyter Notebook</b></button>
          				  <button type="button" class="btn"><b>Intellij IDEA</b></button>
          				  <button type="button" class="btn btn-default"><b>Scala IDE</b></button>
          				  <button type="button" class="btn"><b>Matlab</b></button>
          				  <button type="button" class="btn btn-default"><b>Netbeans</b></button>
          				  <button type="button" class="btn"><b>Eclipse</b></button>
          				  <button type="button" class="btn btn-default"><b>Sublime Text3</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Version Control System:</h4>
                      <button type="button" class="btn btn-default"><b>Bitbucket</b></button>
                      <button type="button" class="btn btn"><b>GIT</b></button>
                      <button type="button" class="btn btn-default"><b>SVN</b></button>
                      <button type="button" class="btn btn"><b>Bugzilla</b></button>
               </div>

	<ul>
		<li>On pre-defined scale, rate the quality of fruit from fruit image</li>
		<li>Build machine learning model to predict the quality of product from the production parameters and production flow and also create pipeline to continuosly check these models accuracy and train the models continously based on real-time chaning production data </li>
		<li>Create next word prediction feature for e-commerce website search box</li>
		<li>Build recommender model to recommend products to user of e-commerce website</li>
	</ul>
</div>