<style type="text/css">

h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}
/*Summary*/
.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4{
    color: #d9534f;
}
.table-email .media h4 {
  margin: 0px;
  font-size: 14px;
  line-height: normal;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
</style>

<div class="container">
<h2 style='text-align: center;'><b>Web</b> Development</h2>
<p>I have also been a Full Stack developer. During my professional carrier as a full stack developer, I have done following tasks</p>
<ul>
	<li>Communicate with local and foreign client to understand their business need and implement them</li>
	<li>Define database structure</li>
	<li>Create website</li>
	<li>Manage multiple (150+) websites</li>
	<li>Create Webservices</li>
	<li>Integrate third party webservices</li>
	<li>Create Websockets for real time data</li>
	<li>Setup cloud environment for database and website/webservices deployment</li>
	<li>Deploy database and website/webservices</li>
	<li>Install,setup & configure streaming media servers for real-time and non-real time video broadcast</li>
</ul>
               <div class="bs-callout bs-callout-danger">
                  <h4>Languages:</h4>
					  <button type="button" class="btn"><b>Python</b></button>
					  <button type="button" class="btn btn-default"><b>JavaScript</b></button>
					  <button type="button" class="btn"><b>Ruby</b></button>
					  <button type="button" class="btn btn-default"><b>JavaScript</b></button>
					  <button type="button" class="btn"><b>PHP</b></button>
					  <button type="button" class="btn btn-default"><b>HTML</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>CMS & Web Frameworks:</h4>
					  <button type="button" class="btn"><b>Django</b></button>
					  <button type="button" class="btn btn-default"><b>Flask</b></button>
					  <button type="button" class="btn"><b>Nodejs</b></button>
					  <button type="button" class="btn btn-default"><b>CodeIgniter</b></button>
					  <button type="button" class="btn"><b>Cakephp3</b></button>
					  <button type="button" class="btn btn-default"><b>Zend</b></button>
					  <button type="button" class="btn"><b>Symphony</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Databases:</h4>
					  <button type="button" class="btn"><b>Cassandra</b></button>
					  <button type="button" class="btn btn-default"><b>MongoDB</b></button>
					  <button type="button" class="btn"><b>MySQL</b></button>
					  <button type="button" class="btn btn-default"><b>SQL</b></button>
					  <button type="button" class="btn"><b>PostgreSQL</b></button>
               </div>



               <div class="bs-callout bs-callout-danger">
                  <h4>IDEs:</h4>
					  <button type="button" class="btn btn-default"><b>Netbeans</b></button>
					  <button type="button" class="btn"><b>Sublime Text3</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Payment Gateways:</h4>
					  <button type="button" class="btn"><b>PayPal</b></button>
					  <button type="button" class="btn btn-default"><b>PayU</b></button>
					  <button type="button" class="btn"><b>PayTabs</b></button>
					  <button type="button" class="btn btn-default"><b>eWay</b></button>
					  <button type="button" class="btn"><b>and many more...</b></button>
               </div>
               <div class="bs-callout bs-callout-danger">
                  <h4>Cloud Services:</h4>
					  <button type="button" class="btn"><b>Amazon Web Services (AWS)</b></button>
					  <button type="button" class="btn btn-default"><b>Google Apps</b></button>
					  <button type="button" class="btn"><b>Twilio</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Cloud Platforms:</h4>
					  <button type="button" class="btn"><b>Amazon</b></button>
					  <button type="button" class="btn btn-default"><b>Google Cloud</b></button>
					  <button type="button" class="btn"><b>RackSpace</b></button>
					  <button type="button" class="btn btn-default"><b>GoDaddy</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Version Control System:</h4>
					  <button type="button" class="btn"><b>SVN</b></button>
					  <button type="button" class="btn btn-default"><b>GIT</b></button>
               </div>

               <div class="bs-callout bs-callout-danger">
                  <h4>Streaming Media Systems:</h4>
					  <button type="button" class="btn"><b>Wowza</b></button>
					  <button type="button" class="btn btn-default"><b>Red5</b></button>
					  <button type="button" class="btn"><b>FFserver</b></button>
               </div>
</div>